<%- include("partials/header") -%>

<h1>Home</h1>
<p class="greeting">Hello, my dear! What's in your mind today?</p>

<% for (var post of posts) { %>
<h3><%=post.title %></h3>
<p>
    <%=post.content.substring(0, 100) + "..." %>
    <a href="/posts/<%=post.title %>">Read more</a>
</p>
<% } %> <%- include("partials/footer") -%>
